<a href="https://colab.research.google.com/github/HyeranYang/Projects_Senior_IT_Support_Center/blob/master/people_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 인구특성 변수 전처리

- 동별 60세 이상 시니어 인구 수 구하기
- 동별 시니어 비율 구하기

## Imports

In [ ]:
# 필요 라이브러리 로드
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 한글폰트 설정
!pip install koreanize-matplotlib
import koreanize_matplotlib

# 폰트 선명하게
%config InlineBackend.figure_format = 'retina'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: koreanize-matplotlib in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from koreanize-matplotlib) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->koreanize-matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->koreanize-matplotlib) (1.15.0)

In [ ]:
people_raw = pd.read_excel('/content/drive/MyDrive/PROJECT_senior it support center/데이터/인구특성.xlsx')
people_raw.head()

# 엑셀로 동별 전체인구, 동별 시니어 인구(60세 이상 인구), 동별 시니어 비율(시니어 인구 / 전체인구)를 구함.

,구,동,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,...,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,동별 전체인구,동별 시니어 인구,동별 시니어 비율
0,종로구,사직동,202,356,342,333,465,737,769,678,...,357,343,309,167,62,22,1,9372,2468,0.263338
1,종로구,삼청동,37,65,87,84,144,176,148,155,...,135,110,87,60,20,6,2,2456,827,0.336726
2,종로구,부암동,165,332,401,453,584,643,602,608,...,401,332,265,131,60,13,3,9579,2558,0.267042
3,종로구,평창동,454,694,760,819,1104,1238,1032,1168,...,719,584,505,285,121,38,6,18152,4937,0.271981
4,종로구,무악동,243,402,500,476,467,440,377,526,...,333,259,234,97,30,10,3,8259,2006,0.242887

In [ ]:
# 사용할 컬럼만 뽑기

# 인덱스 컬럼 : 구, 동
people1 = people_raw.iloc[:, :2]
people1.head()

     구    동
0  종로구  사직동
1  종로구  삼청동
2  종로구  부암동
3  종로구  평창동
4  종로구  무악동

In [ ]:
# 동별 전체인구, 동별 시니어 수, 동별 시니어 비율 컬럼만 뽑기
people2 = people_raw.iloc[:, -3:]
people2.head()

   동별 전체인구  동별 시니어 인구  동별 시니어 비율
0     9372       2468   0.263338
1     2456        827   0.336726
2     9579       2558   0.267042
3    18152       4937   0.271981
4     8259       2006   0.242887

In [ ]:
# 사용할 인구 데이터셋 완성 : people1 + people2
people = pd.concat([people1, people2], axis=1)
people.head()

     구    동  동별 전체인구  동별 시니어 인구  동별 시니어 비율
0  종로구  사직동     9372       2468   0.263338
1  종로구  삼청동     2456        827   0.336726
2  종로구  부암동     9579       2558   0.267042
3  종로구  평창동    18152       4937   0.271981
4  종로구  무악동     8259       2006   0.242887

In [ ]:
# 데이터 저장
people.to_csv('/content/drive/MyDrive/PROJECT_senior it support center/데이터/people.csv')